@(weeks: List[Week])
<html>
	<head>
        <meta charset = 'utf-8' />
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
        <script src="assets/js/bootstrap.js"></script>
        <title>Metas</title>
        <style type="text/css">
        </style>
    </head>
	<body>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Metas</h1>
            </div>
            <div class="panel-body">
                <div class="container">
                <form action="/save" method="POST" class="form-inline">
                    <div class="form-group">
                        <label>Meta <input id='meta' name="objective" type="text" class='form-control' placeholder="Meta"/></label>
                        
                        <label>Prioridade <input id='prioridade' name="priority" type="number" class='form-control' value="1"/></label>
                        
                        <label>Semana (1-6) <input id='semana' name="id" type="number" class='form-control' value="1"/></label>
                        
                        <input type="submit" class='btn btn-default' value='Salvar'/>
                    </div>                    
                </form>
                </div>
                @for(week <- weeks) {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-target="#semana1" href="#semana@week.id">Semana @week.id</a>
                    </div>
                    <div id="semana@week.id" class="collapse in">
                        <div class="panel-body">
                            <ul class="list-group">
                            	@for(meta <- week.getMetas()) {
                                <li class="list-group-item @if(meta.complete){list-group-item-success}">
                                    @meta.objective
                                    @if(!meta.complete){
                                    	<form action="/complete/@meta.id" method="POST"><input type="submit" value="complete"></form>
                                    }
                                    <form action="/remove/@meta.id" method="POST"><input type="submit" value="delete"></form>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                }
            </div>
            <div class="panel-footer">
                SI lab2 - Stênio Elson <a href="#github">github</a>
            </div>
        </div>
    </body>
</html>